<!doctype html>
<!-- [if IE]><html class="ie"><![endif]-->
<html>

<head>
    <title>十七 文创社区</title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta name="description" content="在这里，你可以随手记录自己的生活，与朋友们分享图片、文字或是图文并茂的文章。我们相信，每个人都是生活中的艺术家，有着无穷的创造力。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%if(process.env.NODE_ENV == 'development'){%>
        <input type="hidden" id="cateValue" value='[__manageCates__]'>
        <%}else{%>
            <input type='hidden' id='cateValue' value='<%= htmlWebpackPlugin.options.manageCates%>'>
            <%}%>
                <div id="app"></div>
</body>

</html>